@import
url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    color: purple;
    font-family: 'Roboto', sans-serif;
}

input, button {
    font: inherit;
}

p{
    /*text-decoration: underline;*/
    text-transform: uppercase;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    /*font-weight: 900;
    font-style: oblique;*/
}