@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 /*Begin Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

 /*End Reset*/

 /*Utility Classes*/

.nowrap {
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

 /*End Utility Classes*/

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    /*background-image: url('Images/bubbles.png'), linear-gradient(to left,
    steelblue,purple, #fff);

    background-repeat: repeat, no-repeat;
    background-position: left center;*/
    background: repeat left center url('Images/bubbles.png'),
    no-repeat linear-gradient(to left, steelblue, purple, #fff);
    background-size: 20%, auto;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img{
    width: 25%;
    height: auto;
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('Images/scenic-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 0%, 0.15);
}

h1 {
    font-size: 500%;
    color: purple;
    text-shadow: 2px 2px 5px #000;
}

.lasagna {
    width: 35%;
}

.lasagna img {
    width: 100%;
    height: auto;
    border: 5px double gray;
    border-radius: 50%;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url(Images/scenic-image.jpg);
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}